@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
    background-color: #fafafa;
    margin: auto;
}

/* HEADER */
header {
    text-align: right;
    padding: 10px 0;
    margin: 0 30px;
}

nav {
    display: flex;
    justify-content: right;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #000;
}


main {
    margin: 80px auto;
    max-width: 1000px;
}

h1 {
    font-size: 2.5rem;
}

.principal span {
    color: #4d5b70;
}

.principal p{
    font-size: 0.9rem;
}

.principal {
    display: flex;
    gap: 50px;
}

.principal img {
    border-radius: 100%;
    height: 300px;
}

.principal button {
    border: 0;
    background-color: #4d5b70;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 4px;
    transition: .2s all;
}

.principal button:hover {
    border-radius: 50px;
    transition: 1s all;
}

#formacao {
    background-color: #b9e2ed;
    padding: 20px;}

.formacao-content h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 20px;
    color: #4d5b70;
}

.formacao-content {
    max-width: 1000px;
    margin: 20px auto;
    justify-content: center;
}

.formacoes-itens {
    display: flex;
    justify-content: center;
    gap: 80px; /* opcional: espaço entre os itens */
    flex-wrap: wrap; /* para ajustar bem em telas menores */
}


.formacao-item {
    display: inline-block;
    background-color: #f2f2f2;
    margin: 10px 0;
    width: 400px;
    padding: 30px;
    color: #4d5b70;
}

.formacao-item .curso {
    font-weight: 600;
    font-size: 1.5rem;
}

.formacao-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.instituicao {
    text-align: left;
}

.grau {
    background-color: #4d5b7080;
    color: #fff;
    max-width: 100px;
    text-align: center;
    margin-top: -20px;
}

.instituicao img {
    width: 150px;
}

#experiencias {
    margin-top: 40px;

}

.experiencia-content {
    max-width: 1000px;
    margin: 20px auto;
    justify-content: center;
}

.experiencia-content h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 20px;
    color: #4d5b70;
}

.experiencia-item img {
    height: 100%;
    width: 50px;
}

.data {
    background-color: #4d5b70;
    width: 150px;
    text-align: center;
    padding: 5px 5px;
    border-radius: 20px;
    font-size: 0.8rem; 
    color: #f2f2f2;
}

.itens-trabalhados {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #4d5b70;
}

.itens-experiencia {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}